#fly-to-btn {
    cursor: pointer;
    padding: .5rem;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    transition: ease .3s;
    width: 100%;
    margin: .5rem 0 1rem 0;
}

#fly-to-btn:hover {
    background: #333;
}